<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang ="vi">
<head lang="vi"><title>
	Gia Phả Việt
</title><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- ================== Font =================== -->
    <link rel="stylesheet" type="text/css" href="~/font/font-awesome/~/css/font-awesome.min.css" /><link rel="stylesheet" type="text/css" href="~/font/mdi-~/font/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ================== Vendor CSS =================== -->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap4/bootstrap.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/animate.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.carousel.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.theme.default.min.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/settings.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/navigation.css" /><link rel="stylesheet" type="text/css" href="~/vendor/revolution/layers.css" /><link rel="stylesheet" type="text/css" href="~/vendor/lightbox2/~/css/lightbox.css" />
    <!-- Main CSS -->
  
    <script src="~/vendor/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.min.js"></script>    
	<link rel="stylesheet" type="text/css" href="~/css/jquery.mmenu.all.css" />
	<script type="text/javascript" src="~/js/jquery.mmenu.all.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

	<link rel="stylesheet" type="text/css" href="~/css/jquery.mhead.css" /><link rel="stylesheet" type="text/css" href="~/css/font.css" /><link rel="stylesheet" type="text/css" href="~/css/style.css" /><link href="~/css/default.css" rel="stylesheet" /><link href="~/css/nivo-slider.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/VNGP/VNGP.js"></script>
    <script type="text/javascript">
        $(function () {

            $(function () {

                //	create the menus
                //$('#menu').mmenu();

                ////	fire the plugin
                //$('.mh-head.first').mhead({
                //    scroll: {
                //        hide: 200
                //    }
                //});
                //$('.mh-head.second').mhead({
                //    scroll: false
                //});

                ////	for demo only
                //$('a[href^="#/"]').click(function () {
                //    alert('Thank you for clicking, but that\'s a demo link.');
                //    return;
                //})
            });
        });
    </script>
<meta name="DESCRIPTION" content="Gia Phả Việt"/><meta name="twitter:title" content="Gia Phả Việt" />
<meta name="twitter:description" content="Gia Phả Việt"/><link href="https://bietthuphap.com.vn" rel="canonical" />
<meta name="robots" content="index, follow"/>
<meta name="google-site-verification" content="twyXvAMclrA2XLUkyT1-sgtpefg79lJggSNTYq4JMcM" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SK73D5SWMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SK73D5SWMY');
</script></head>
<body lang ="vi">
    @*<div id="page-loader">
        <div class="page-loader__inner">
            <div class="page-loader__spin"></div>            
        </div>
    </div>
    <div class ="nav-top">
        <div class ="hidden-xs col-sm-12">
            <h1>
                <i class="fa fa-home" aria-hidden="true"></i> Việt Nam Gia Phả
            </h1>
            <span>
                đơn vị thiết kế thi công Việt Nam Gia Phả
            </span>
        </div>
    </div>*@
    
<header class ="bg-dark hidden-xs">
    <div class ="head-logo">
        <div class ="col-md-12 col-lg-5 justify-content-center align-self-center">
            <a id="header1_hpl" title="Gia Phả Việt" href="./"><img id="header1_img_logo" style="height:125px;" src="~/upload/home/logo.png" 
                alt="Gia Phả Việt" /></a>
        </div>
        <div class ="col-lg-7 col-md-12 text-right d-none d-sm-block p-t-15">            
            <div class ="col-w-250">
                <div class ="cl-gold">
                    EMAIL
                </div>
                <p class ="text-white">
                    <i class="fa fa-envelope text-muted" aria-hidden="true"></i> trannqt.it@gmail.com
                </p>
                <ul class="list-social text-white">
                    <li class="fb">
                        <a href="javascript:;" id="header1_facebook" class="text-muted">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="tweet">
                        <a href="javascript:void(0)" id="header1_twitter" class="text-muted">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>                    
                    <li class="insta">
                        <a href="javascript:void(0)" id="header1_instagram" class="text-muted">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="linkd">
                        <a href="javascript:void(0)" id="header1_linkedin" class="text-muted">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="ytube">
                        <a href="javascript:;" id="header1_youtube" class="text-muted">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                        <li class="rss">
                        <a href="uc_control/0948932555" id="header1_google" class="text-muted">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-w-200">
                <div class ="cl-gold">
                    ĐIỆN THOẠI
                </div>
                <p class ="text-white">
                    <a href="tel:0948932555" id="header1_hotline" class="text-white">
                        <i class="fa fa-phone text-muted" aria-hidden="true"></i>
                        0948.932.555
                    </a>
                </p> 
                <p class ="p-t-15">
                    <a id="header1_HyperLink1" class="btn-support" href="javascript:;">Tư vấn miễn phí</a>
                </p>          
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-border bg-black">
        <ul class="ul--inline ul--no-style list-center">
            <li>
                <a id="header1_HyperLink1" href="~/ReasonExists">Lý do tồn tại</a>
            </li>
            <li class="li-has-sub">
              <a id="header1_HyperLink2" href="~/Branch">Tìm về cội nguồn</a>
                
                        <ul class="sub-menu ul--no-style">
                        </ul>
                    
            </li>
            <li>
                <a id="header1_HyperLink3" href="~/Post">Đạo lý làm người</a>
            </li>
            @{
                    var TocHo = Context.Session.GetString("TocHo");
                    if (@TocHo != null)
                    {
                        if (@TocHo.Length != 0)
                        {
                            string path = Context.Request.Path;
                            path = path.Substring(1);
                            string[] words = path.Split('/');
                            if (words.Length>=2)
                            {
                                var tocHoId = words[2];
                                <li class="li-has-sub">
                                    <a id="header1_HyperLink4" href="javascript:;" onclick="window.location.reload(true);">Tộc @TocHo</a>
                                    <ul class="sub-menu ul--no-style">
                                        <li>
                                            <a id="header1_rpt_services_hyperlink3_0" href="javascript:;" onclick="window.location.reload(true);">Gia phả</a>
                                        </li>
                                        <li>
                                            <a id="header1_rpt_services_hyperlink3_1" href="thiet-ke-noi-that-sid-2.html">Phả ký</a>
                                        </li>
                                        <li>
                                            <a id="header1_rpt_services_hyperlink3_2" href="xuong-dong-do-noi-that-sid-3.html">Tộc ước</a>
                                        </li>
                                        <li>
                                            <a id="header1_rpt_services_hyperlink3_3" href="/Person/BranchSource/@tocHoId">Phả đồ</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            
                    }
                }
            }
        </ul>
    </nav>
</header>
<header class="header-mobile">
    <div class="container clearfix">
        <div class="logo pull-left">
            <a id="header1_HyperLink7" href="./"><img id="header1_img_mb" class="img-responsive" src="~/upload/home/logo.png" alt="Gia Phả Việt" /></a>
        </div>
        <a class="menu-mobile__button">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="menu-mobile hidden">
            <ul class="ul--no-style">
                <li>
                    <a id="header1_HyperLink8" href="~/ReasonExists">Lý do tồn tại</a>
                </li>
                <li class="li-has-sub">
                    <a id="header1_HyperLink9" href="~/Branch">Tìm về cội nguồn</a>
                </li>
                <li>
                    <a id="header1_HyperLink10" href="~/Post">Đạo lý làm người</a>
                </li>
                @{
                    var TocHo1 = Context.Session.GetString("TocHo");
                    if (@TocHo1 != null)
                    {
                        if (@TocHo1.Length != 0)
                        {
                            string path = Context.Request.Path;
                            path = path.Substring(1);
                            string[] words = path.Split('/');
                            if (words.Length>=2)
                            {
                                var tocHoId = words[2];
                                <li>
                                    <i class="fa fa-plus menu-mobile__more"></i>
                                    <a id="header1_rpt_mbmenu_HyperLink1_0" href="javascript:;" onclick="window.location.reload(true);">Tộc @TocHo1</a>
                                    <ul class="ul--no-style hidden">
                                        <li>
                                            <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_0" href="javascript:;" onclick="window.location.reload(true);">Gia phả</a>                                  
                                        </li>
                                        <li>
                                            <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_1" href="javascript:;">Phả ký</a>                                   
                                        </li>
                                        <li>
                                            <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_2" href="javascript:;">Tộc ước</a>                                   
                                        </li>
                                        <li>
                                            <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_3" href="/Person/BranchSource/@tocHoId">Phả đồ</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                    }
                }
            }
                @*<li>
                    <i class="fa fa-plus menu-mobile__more"></i>
                    <a id="header1_rpt_mbmenu_HyperLink1_0" href="thiet-ke-kien-truc-mid-1.html">Thiết kế kiến trúc</a>
                            
                            
                            <ul class="ul--no-style hidden">
                                
                            <li>
                                <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_0" href="dinh-thu-lau-dai-mid-6.html">Dinh thự lâu đài</a>                                   
                            </li>
                                
                            <li>
                                <a id="header1_rpt_mbmenu_rpt_mm_0_HyperLink1_1" href="biet-thu-co-dien-tan-co-dien-mid-3.html">Biệt thự cổ điển - Tân cổ điển</a>                                   
                            </li>
                            </ul>
                                
                </li>*@
            </ul>
        </nav>
    </div>
</header>
@*<div class ="h1 bg-dark text-center cl-gold">
    UỐNG NƯỚC NHỚ NGUỒN
</div>*@

@RenderBody()

<footer class="construct">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class ="pb-30"><img id="footer1_img" style="height:125px;" class="img-responsive" src="~/upload/home/logo.png" alt="Gia Phả Việt" /></div>
                <div class ="title-4 cl-gold">
                    Gia Phả Việt
                </div>
                @*<p>
                    Gia Phả Việt - Tìm về cội nguồn Việt!
                </p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/" id="footer1_facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/" id="footer1_youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="javascript:void(0)" id="footer1_pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="javascript:void(0)" id="footer1_tweeter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>*@
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class ="title-4 cl-gold">Địa chỉ</div>
                <ul class="contact-info">
                    <li><i class="fa fa-map-marker"></i> <span class="text">Số 48 liền kề 11B, khu đô thị Mỗ Lao, quận Hà Đông, TP. Hà Nội</span></li>
                    <li><i class="fa fa-phone"></i> <span class="text">0818.932.555 - Hotline: 0948.932.555</span></li>
                    @*<li><i class="fa fa-envelope-o"></i> <span class="text">trannqt.it@gmail.com</span></li>
                    <li><i class="fa fa-globe"></i> <span class="text">https://giaphaviet.hostfree</span></li>*@
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class ="title-4 cl-gold">menu</div>
                <ul class="contact-info">
                    <li>
                        <a style="color: #b38d45;" id="header1_HyperLink8" href="~/ReasonExists">Lý do tồn tại</a>
                    </li>
                    <li class="li-has-sub">
                        <a style="color: #b38d45;" id="header1_HyperLink9" href="~/Branch">Tìm về cội nguồn</a>
                    </li>
                    <li>
                        <a style="color: #b38d45;" id="header1_HyperLink10" href="~/Post">Đạo lý làm người</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<section id="bottom-bar" class="construct">
	<div class="container">
        <div class ="row">
		    <div class="col-12 col-sm-6 copyright text-left">
			    Copyright © Gia Phả Việt. All rights reserved. 
		    </div>
		    <div class="col-12 col-sm-6 credit text-right">
			    Thiết kế và phát triển bởi: <a href="https://trannqt.net.vn" title="thiết kế website trannqt" target="_blank">www.trannqt.net.vn</a>	
		    </div>
        </div>
	</div> 
</section>
<div style ="height:0;width:0;overflow:hidden">
    <!-- Global site tag (gtag.js) - Google Ads: 877619661 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-877619661"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-877619661');
</script>
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v7.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="244415315703343"
  theme_color="#b38d45"
  logged_in_greeting="Gửi yêu cầu cho Green House Việt Nam?"
  logged_out_greeting="Gửi yêu cầu cho Green House Việt Nam?">
      </div>

</div>
@*<div class="footer-fixed">
    <ul>
        <li>
            <a href ="https://bietthuphap.com.vn/catalogue.pdf" target ="_blank" title ="Hồ sơ năng lực">
                <i class="fa fa-download" aria-hidden="true"></i> Hồ sơ năng lực
            </a>            
        </li>
        <li>
            <a href ="https://bietthuphap.com.vn/quy-trinh-lam-viec-cua-greenhouse-viet-nam-sid-6" target ="_blank" title ="Quy trình làm việc">
                <i class="fa fa-crosshairs" aria-hidden="true"></i> Quy trình làm việc
            </a>            
        </li>
        <li>
            <a href ="https://bietthuphap.com.vn/album" target ="_blank" title ="Hình ảnh thực tế">
                <i class="fa fa-building-o" aria-hidden="true"></i> Hình ảnh thực tế
            </a>            
        </li>
        <li class ="ft-hotline">
            <a href="tel:0948932555" id="footer1_hotline1" target="_blank">
                <span>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
                <strong>
                    0948.932.555
                </strong>
            </a>           
        </li>
    </ul>
</div>*@
<div class="mobile-hotline">
    <div class ="mb-mobile">
        <div class="mobile-hotline-left">
            <a href="https://zalo.me/0948932555" id="footer1_zalo" target="_blank">
                <span>
                    <img id="footer1_Image1" src="~/upload/icon/zalo.png" alt="Zalo : 0936.262.282" />
                </span>
                <strong>
                    0948932555
                </strong>
            </a>
        </div>
        <div class="mobile-hotline-right">
            <a href="tel:0948932555" id="footer1_hotline" target="_blank">
                <span>
                    <img id="footer1_Image3" src="~/upload/icon/phone.png" alt="hotline" />
                </span>
                <strong>
                    0948.932.555
                </strong>
            </a>
        </div>
    </div>
</div>
    
    <!-- =================== PLUGIN JS ==================== -->
    
    <script src="~/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script> 
    <script src="~/js/menu.js"></script> 
    <script src="~/vendor/wow/wow.min.js" type="text/javascript"></script>
    <script src="~/vendor/lightbox2/~/js/lightbox.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap4/popper.min.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap4/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/vendor/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/vendor/revolution/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="~/vendor/revolution/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <!-- Local Revolution -->
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/vendor/revolution/local/revolution.extension.video.min.js"></script>
    
    
    <script type="text/javascript">
        $(document).ready(function () {
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': false,
                'alwaysShowNavOnTouchDevices': true,
            });
        });
    </script>
    
    <!-- =================== CUSTOM JS ==================== -->
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/revo-custom.js"></script>
    <script type="text/javascript" src="~/js/wow-custom.js"></script>
    <script>
        $(document).ready(function () {
            // Configure/customize these variables.
            var showChar = 200;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "<i class=\"fa fa-plus-square\" aria-hidden=\"true\"></i>";
            var lesstext = "<i class=\"fa fa-minus-square\" aria-hidden=\"true\"></i>";


            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink"><i class="fa fa-plus-square" aria-hidden="true"></i></a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
    <script type="text/javascript" src="~/js/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="~/js/OrgChartJS/orgchart.js"></script>

</body>
</html>
